.admin-layout {
  display: flex;
}

.admin-content {
  flex-grow: 1;
  margin-left: 15.625rem; /* Equal to the width of the sidebar */
  width: calc(100% - 15.625rem); /* Full width minus the sidebar width */
  overflow-y: auto; /* Scrollable if content overflows */
}
