footer a svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.phone {
  color: #f5f5f5 !important;
}

footer a #social-icon:hover {
  color: #ff6347;
}

@media (max-width: 560px) {
  footer a svg {
    width: 25px;
    height: 25px;
  }
}

#footer-logo {
  border-radius: 5px;
  width: 120px;
  height: 70px;
}
