footer a svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.code,
.phone {
  color: #ffffff !important;
}

footer a #gmail:hover {
  color: #e985ec;
}

footer a #facebook:hover {
  color: #ffffff;
  background-color: #1115d4;
}

footer a #twitter:hover {
  color: #437af0;
}

footer a #instagram:hover {
  color: #ffffff;
  background-color: #1115d4;
}
footer a #whatsapp:hover {
  background-color: #0cf820;
  color: #ffffff;
}

@media (max-width: 560px) {
  footer a svg {
    width: 25px;
    height: 25px;
  }
}

#footer-logo {
  border-radius: 5px;
  width: 120px;
  height: 70px;
}
