p {
  color: #020b14;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

h2 {
  font-size: 20px;
}

.col-md-1.bg-light,
.col-md-2.bg-light {
  position: fixed;
}

.col-md-1.bg-light {
  height: 100%;
}

.col-md-2.bg-light {
  right: 0px;
}

main.col-md-9 {
  position: absolute;
  left: 6.4rem;
}

aside .profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  border-bottom: 2px solid #020b14;
}
aside .profile img {
  width: 150px;
  height: 160px;
  margin: 0 auto;
  border-radius: 10px;
}
aside .profile .name {
  font-size: 20px;
  text-wrap: wrap;
  margin-bottom: 0;
  color: #020d14;
  text-transform: uppercase;
}
aside .profile .address,
aside .profile .email,
aside .profile .phone,
aside .profile .academic {
  font-size: 14px;
  text-wrap: wrap;
  color: #020b14;
  display: block;
}

aside .nav-menu ul,
aside .nav-menu ul li {
  padding: 0;
  list-style: none;
}
aside .nav-menu ul li a {
  display: block;
  padding: 30px 45%;
  color: #020b14;
  position: relative;
}

aside .nav-menu ul li a:hover {
  color: #6f7172;
}

.middle-nav {
  margin-top: 50%;
}

.bottom-nav {
  margin-top: 100%;
}

#password-btn {
  background-color: #020b14;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px 0 0;
  font-weight: 900;
}

#password-btn:hover {
  color: #e79292;
}

#image-input {
  display: none;
}

.image-label img:hover {
  border: 5px solid #020b14;
}

@media (max-width: 450px) {
  aside {
    height: 400px;
  }
}

@media (max-width: 900px) {
  .body aside {
    width: 100%;
    position: absolute;
    top: 0px;
  }

  .body main {
    width: 100%;
    position: absolute;
    top: 600px;
  }
}

.total-courses {
  font-size: 30px;
  color: #e92020;
  float: right;
}

.view-courses {
  float: right;
  font-weight: bolder;
}

.mycourse-title {
  margin-top: 100px;
  background-color: rgba(233, 32, 32, 0.4);
}

.mycourse-title:hover {
  background-color: #e92020;
}

.course-body {
  background-image: url("../images/student/course-image.png");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.latest_course {
  align-items: center;
  text-align: center;
}

.latest_course .card-body {
  background-color: rgba(233, 32, 32, 0.4);
  color: #ffffff;
  width: 100%;
}

.latest_course .card-body:hover {
  background-color: #e92020;
}

.latest_course .card-body span {
  font-size: 16px;
}

.bolded {
  font-weight: bold;
}

.side-logo {
  width: 100%;
  height: 200px;
}
